body{
    font-family: 'Andada Pro', serif;
font-family: 'Lora', serif;
font-family: 'Nunito', sans-serif;
margin: 0;
}

h1{
    font-size: 45px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
p{
    color: dimgrey
}
.orange-highlight{
    color: rgb(255, 165, 0);
}
.half-div{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-div img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
}
section{
    height: 500px;
}
.button{
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    border-radius: 5px;
    padding: 5px 10px;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-heading{
    /* float: left; */
    align:right;
    /* border: 2px solid black; */
    /* background-color: brown; */
}
.div-text{
    box-shadow: 10px 10px 40px gray;
    height: 60%;
    background-color: white;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#pro-dev {
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon tomato);
    border-image-slice: 1;
}
#baby-dev{
    border-left: 7px solid;
    border-image:linear-gradient(blue cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}